<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/index.css">
	<title>Quoridor Chat Client</title>
</head>
<body>
<!-- 	<div id="game">
		{{message}}
		<canvas id="game-canvas" width="300" height="300" style="border:1px solid" v></canvas>
	</div> -->
	<div id="app">
		<div v-if="logged_in" v-cloak>
			<h3>Select a room:</h3>
			<ul v-for="room in roomList">
				<button v-on:click="switchRoom(room)">{{room}}</button>
			</ul>
			<div v-if="!createdRoom">
				<form @submit.prevent="createRoom">
					<input id="message_input" autocomplete="off" v-model="newRoom" /><button>Create Room</button>
				</form>
			</div>

			<div v-if="room_selected" v-cloak>
				<quoridor-game v-bind:username="username" v-on:item-clicked="setGameState" ref="quoridorInstance"></quoridor-game>
				<ul v-for="message in message_history">
					<span>{{message.user}}: {{message.message}}</span>
				</ul>
				<form @submit.prevent="sendMessage">
					<input id="message_input" autocomplete="off" v-model="message" v-on:keyup="setUserTyping" v-on:keyup.Enter="clearUserTyping" /><button>Send</button>
				</form>
				<span v-show="someoneIsTyping">{{typingUserMessage}}</span>
			</div>

			<div>
				<h3>Online Users:</h3>
				<ul v-for="user in userList">
					<span>{{user}}</span>
				</ul>
			</div>

		</div>

		<div v-else v-cloak>
			<form @submit.prevent="createUser">
				<input id="message_input" autocomplete="off" v-model="username" placeholder="Enter Username" /><button>Join Chat</button>
			</form>
		</div>

		
	</div>

	<script src="/socket.io/socket.io.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script>
		var socket = io();

		// const game = new Vue({
		// 	el: '#game',

		// 	data: {
		// 		message: "gamecanvas",
		// 	},
		// 	directives : {

		// 	},

		// 	created() {},
		// 	methods: {}
	 //  	});

	  // 	let quoridorGame = Vue.component( 'quoridor-game', {
	  // 		template : '<span>{{gameMessage}}</span>'
			// data: function  () {
			// 	return {
			// 		gameMessage: "gamecanvas"
			// 	}
			// },
			// directives : {

			// },

			// created() {},
			// methods: {}
	  // 	});

		let quoridorGame = Vue.component('quoridor-game', {
		template : `
		<div>
			<canvas v-bind:height="height" v-bind:width="width" style="border:1px solid brown" @click="emitClicked('zimzambop', $event)" ref="quoridorGameCanvas" v-if="!gameHidden"></canvas>
			<br>
			<button v-on:click="startGame" v-if="!gameHidden">Start Game</button>
			<button v-on:click="hideGame">Show/Hide Game</button>
		</div>
			`,
	    data: function  () {
			return {
				gameHidden: false,
				height: 480,
				width: 480,
				padding: 20,
				cellWidth: 0,
				gapWidth: 0,
				cellCoords: []
			}
	  	},
		props: ['username', 'gameData'],
		mounted: function(){
			// this.renderGame(this.$el.getContext("2d"));
		},
		methods: {
			emitClicked(data, event){
				let canvas = this.$refs.quoridorGameCanvas;
				let context = canvas.getContext("2d");
				// this.renderReaction(context, "OUCH");
				let mousePosition = this.getMousePosition(canvas, event);
				console.log(mousePosition);
				this.fillSquare(mousePosition);
				this.$emit('item-clicked',mousePosition);
			},
			getMousePosition(canvas, event){
				var rectangle = this.$refs.quoridorGameCanvas.getBoundingClientRect();
		        return {
					x: event.clientX - rectangle.left,
					y: event.clientY - rectangle.top
		        };
			},
			fillSquare(mousePosition){
				var rect = this.getRectangleCoordinates(mousePosition);
				console.log(rect);
				var context = this.$refs.quoridorGameCanvas.getContext("2d");
				if (this.checkValidPosition(rect)){
					context.fillRect(rect.x1, rect.y1, rect.x2-rect.x1, rect.y2-rect.y1);
					context.fillStyle = "green";
				}
			},
			getRectangleCoordinates(mousePosition){
				let x1 = -1, x2 = -1, y1 = -1, y2 = -1;
				for (i = 0; i < this.cellCoords.length; i++){
					if (x1 >= 0 && y1 >= 0) break;
					if (this.cellCoords[i] > mousePosition.x && x2 < 0){
						x1 = i-1;
						x2 = i;
					}
					if (this.cellCoords[i] > mousePosition.y && y2 < 0){
						y1 = i-1;
						y2 = i;
					}
				}
				return {
					x1: this.cellCoords[x1],
					x2: this.cellCoords[x2],
					y1: this.cellCoords[y1],
					y2: this.cellCoords[y2]
				}
			},
			checkValidPosition(rectangleCoordinates){
				return  rectangleCoordinates.x1 != -1 &&
						rectangleCoordinates.x2 != -1 &&
						rectangleCoordinates.y1 != -1 &&
						rectangleCoordinates.y2 != -1;
			},
			renderReaction(context, message){
				context.font = "30px Arial";
				context.fillText(message, 10, 50);
				context.fillStyle = "green";
			},
			drawBoard(context){
				// 9 rows and columns with padding in between cells
				// padding = 3/8ths the size of a cell
				// total = 9 cells + 3 cells of spacing between = 12 by 12

				let p = this.padding;
				let cellSize = (this.height-p*2)/12;
				let gapSize = cellSize*0.375;
				this.cellWidth = cellSize;
				this.gapWidth = gapSize;
				this.cellCoords.push(p);

				let xval = 0;
				for (var x = 0; x < 8; x++){
					// Create column and row of cells
					xval += cellSize;
					xval += p;
					context.moveTo(xval, p);
					context.lineTo(xval, this.height - p);
					context.moveTo(p, xval);
					context.lineTo(this.width - p, xval);
					this.cellCoords.push(xval);
					xval += gapSize;
					// Create column and row of gaps
					context.moveTo(xval, p);
					context.lineTo(xval, this.height - p);
					context.moveTo(p, xval);
					context.lineTo(this.width - p, xval);
					this.cellCoords.push(xval);
					xval -= p;
				}
				this.cellCoords.push(this.width-p);
			    context.strokeStyle = "brown";
			    context.stroke();
			},
			renderGame(context){
				this.drawBoard(context);
			},
			startGame(){
				this.renderGame(this.$refs.quoridorGameCanvas.getContext("2d"));
			},
			hideGame(){
				this.gameHidden = !this.gameHidden;
			}
		}

      });

		const app = new Vue({
			el: '#app',

			// our data
			data: {
				// bus: new Vue(),
				message: "",
				message_history: [],
				username: null,
				typingUsers: [],
				typingUserMessage: "",
				someoneIsTyping: false,
				logged_in: false,
				userIsTyping: false,
				userList: [],
				timeout: undefined,
				room_selected: false,
				roomList: [],
				room_name: null,
				newRoom: "",
				createdRoom: false
		  	},

		  	created()  {
		  		socket.on('chat-message', (msg) => {
		  			this.message_history.push({
		  				message: msg.message,
		  				user: msg.user
		  			});
				});

				socket.on('update-user-list', (usernames) => {
					this.userList = usernames;
				});

				socket.on('user-typing', (username) => {
	  				this.typingUsers.push(username);
	  				this.someoneIsTyping = true;
	  				this.setUserTypingMessage();
				});

				socket.on('stop-typing', (username) => {
					this.typingUsers.splice(this.typingUsers.indexOf(username), 1);
					if (this.typingUsers.length ==  0){
		  				this.someoneIsTyping = false;
		  				this.typingUserMessage = "";
		  			} else {
		  				this.setUserTypingMessage();
		  			}
				});

				socket.on('update-room-list', (rooms) => {
					this.roomList = rooms;
				});

				socket.on('room-created', (newRoom) =>{
					this.createdRoom = true;
					this.switchRoom(newRoom);
				});

				// Game socket responses
				socket.on('square-filled', (data) => {
					console.log("square filled: " + data.x + " " + data.y);
					this.$refs.quoridorInstance.fillSquare(data);
				});
		  	},

		  	methods: {
		  		createUser() {
		  			if (this.username != null){
		  				this.logged_in = true;
		  				socket.emit('user-created', this.username);
		  			}
		  		},

		  		createRoom() {
		  			if (this.newRoom != ""){
		  				socket.emit('room-created', this.newRoom);
		  			}
		  		},

		  		sendMessage() {
		  			if (this.message != ""){
		  				socket.emit('chat-message', {
							message: this.message,
							user: this.username,
							room: this.room_name
						});
						this.message = "";
		  			}
					this.clearUserTyping();
		  		},

		  		setUserTyping() {
		  			if (!this.userIsTyping){
		  				this.userIsTyping = true;
		  				console.log("userisTyping is true");
		  				socket.emit('user-typing', {
		  					user: this.username,
		  					room: this.room_name
		  				});
		  				this.timeout = setTimeout(this.clearUserTyping, 4000);
		  			} else {
		  				console.log("userisTyping is still true");
						clearTimeout(this.timeout);
		  				this.timeout = setTimeout(this.clearUserTyping, 4000);
		  			}
		  		},

		  		clearUserTyping() {
		  			this.userIsTyping = false;
		  			console.log("userisTyping is false");
		  			socket.emit('stop-typing', {
	  					user: this.username,
	  					room: this.room_name
	  				});
	  				clearTimeout(this.timeout);
		  		},

		  		setUserTypingMessage(){
		  			switch (this.typingUsers.length) {
	  					case 1:
	  						this.typingUserMessage = this.typingUsers[0] + " is typing...";
	  						break;
	  					case 2:
	  						this.typingUserMessage = this.typingUsers[0] + " and " + this.typingUsers[1] + " are typing...";
	  						break;
	  					case 3: 
	  						this.typingUserMessage = this.typingUsers[0] + ", " + this.typingUsers[1] + ", and " + this.typingUsers[2] + " are typing...";
	  						break;
	  					default:
	  						this.typingUserMessage = "Several people are typing...";
	  				}

	  				// Just for fun, if everyone (aside from the specific client) is typing.
	  				if (this.typingUsers.length >= 4 && this.typingUsers.length == this.userList.length - 1){
	  					this.typingUserMessage = "EVERYONE is typing!";
	  				}
		  		},

		  		switchRoom(room){
		  			if (this.room_name != room){
		  				// Allow user to create another room after leaving custom room
		  				if (this.room_name == this.newRoom){
		  					this.createdRoom = false;
		  					this.newRoom = "";
		  				}

		  				console.log(room);
			  			this.room_name = room;
			  			this.room_selected = true;
			  			socket.emit('join-room', room);
		  			}
		  		},

		  		setGameState(data){
		  			socket.emit('square-filled', data);
		  		}
		  	}
		});
	</script>

</body>